/*--------------------------------------------------------------
 TABLE OF CONTENTS:
----------------------------------------------------------------
# Vars
# Mixins
# Extend
# Animations
# General
# Shortcodes
# Media Queries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Vars
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Mixins
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Extend
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Animations
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Shortcodes
--------------------------------------------------------------*/

.ish-sc-element {
    margin-top: 0;
    margin-bottom: 30px;
}

/* TABS */

.ish-sc-tabs {
    .ish-tabs-menu {
        li {
            background-color: transparent;
        }
    }
}


/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
@media only screen and (min-width: 768px) {

    .ish-sc-element {
        margin-top: 0;
        margin-bottom: 50px;
    }

}